{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Qmaj Rzabe {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="imigrant">
            </div>
            <div class="login">
                <span id="username-display">Witaj, Użytkowniku!</span>
                <a href="#" id="logout-link">Wyloguj się</a>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'quizhome' %}">Główna</a></li>
                <li><a href="{% url 'quizlist' %}">Quizy</a></li>
            </ul>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer id="footer">
            <p>&copy; 2024 Imigrant na tratwie. Wszelkie prawa zastrzeżone.</p>
        </footer>
    </body>
</html>
