{% extends "quiz_base.html" %}

{% block title %}- Rozwiąż Quiz {{ quiz.title }}{% endblock %}

{% block content %}
  <h2>Quiz: {{ quiz.title }}</h2>
  <i>{{ quiz.description }}</i>
  <form action="{% url 'results' %}" method="post">
    {% if not user.is_authenticated %}

    <label for="username">podaj swoja nazwe typie</label>
    <input type="text" id="username" name="username">

    {% endif %}

    {% csrf_token %}
    <input type="hidden" name="quizid" value="{{ quiz.id }}">
    {% for question in quiz.questions.all %}
        <strong>Pytanie: {{ question.question_text }}</strong>
        <label for="answer1">{{ question.answer1 }}</label>
        <input type="radio" id="answer1-{{ question.id }}" name="question{{ question.id }}" value="1">  <!-- NIE MODYFIKOWAĆ NAME BO ZEPSUJE SIE DODAWANIE TESTÓW DO DB.-->
        <label for="answer2">{{ question.answer2 }}</label>
        <input type="radio" id="answer2-{{ question.id }}" name="question{{ question.id }}" value="2">  <!--           NIE PYTAJCIE DLACZEGO. - Elian                   -->
        <label for="answer3">{{ question.answer3 }}</label>
        <input type="radio" id="answer3-{{ question.id }}" name="question{{ question.id }}" value="3">
        <label for="answer4">{{ question.answer4 }}</label>
        <input type="radio" id="answer4-{{ question.id }}" name="question{{ question.id }}" value="4">
    {% endfor %}
    <input type="submit" value="Prześlij odpowiedzi">
    </form>
{% endblock %}
