{% extends "home_base.html" %}
{% load static %}
{% block content %}
<div class="card text-center">
    <h1>Czym jest <strong>Qumaj Żabę</strong>?</h1>
</div>
<img src="{% static 'img/logo.png' %}" class="img-fluid" style="max-width: 200px;" >
<div class="container">
    <div class="row">
        <div class="col description-box" >
            <h3><strong>Qumaj Żabę</strong> to platforma do nauki poprzez Quizy tworzone przez Ciebie i społeczność.</h3>
            <br>
            <p>Z badań przeprowadzanych przez naukowców wynika, że czytanie informacji i następnie testowanie tej wiedzy w formie quizu jest skutecznym sposobem na utrwalenie poznanych wcześniej informacji.</p>
        </div>
        <div class="col description-box">
            <h3><strong>Wraz z sympatyczną Żabą ucz i baw się, poprzez multum przygotowanych Quizów oraz monitoruj swoje postępy.</strong></h3>
        </div>
        <div class="col description-box">
            <h3><strong>Zarejestruj się już dziś aby:</strong></h3>
            <br>
            <ul>
                <li>Tworzyć autorskie quizy</li>
                <li>Monitorować progres rozwiązywanych quizów</li>
                <li>Być częścią wspaniałej społeczności</li>
                <li>Dobrze się bawić!</li>
            </ul>
        </div>
        
    </div>
</div>
{% endblock %}
