{% extends "home_base.html" %}
{% load static %}
{% block content %}
<div class="info-box">
    <h1>Witaj w Qmaj Rzabe</h1>
    <p>Platforma e-learningowa pełna zabawy i interaktywnych quizów.</p>
    {% if not user.is_authenticated %}
        <a id="join-button" class="btn btn-success text-white" href="{% url 'join' %}">Dołącz do Nas!</a>
    {% else %}
        <a id="join-button" class="btn btn-success text-white" href="{% url 'quizlist' %}">Panel Użytkownika ({{ user.get_username }})</a>
    {% endif %}
    <a id="button" class="btn btn-outline-dark text-dark" href="{% url 'testlistguest' %}">Przeglądaj Quizy!</a>
</div>
{% endblock content %}
