<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="css2.css">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="ww.jpg" alt="rzaba" height="55px" width="55px">
        </div>
        <div class="account">
            <input type="text" placeholder="Wpisz nazwę użytkownika" class="input-field"> <br>
            <input type="email" placeholder="Wpisz adres email" class="input-field"> <br>
            <input type="password" placeholder="Wpisz hasło" class="input-field"> <br>
            <input type="password" placeholder="Powtórz hasło" class="input-field"> <br>
            <button class="login-button">Utwórz konto</button> <br>
            <a href="log_full.html" class="register-link">Powrót do logowania</a>
        </div>
    </div>
</body>
</html>
