{% extends "log_reg_template.html" %}
{% block content %}
    <input type="text" placeholder="Wpisz nazwę użytkownika" class="input-field"> <br>
    <input type="email" placeholder="Wpisz adres email" class="input-field"> <br>
    <input type="password" placeholder="Wpisz hasło" class="input-field"> <br>
    <input type="password" placeholder="Powtórz hasło" class="input-field"> <br>
    <button class="login-button">Utwórz konto</button> <br>
    <a href="{% url 'signin' %}" class="register-link">Powrót do logowania</a>
{% endblock %}