{% extends "base.html" %}

{% block title %}Questions for {{ quiz.title }}{% endblock %}

{% block content %}
  <h2>Pytania dla: {{ quiz.title }}</h2>
  <ul>
    {% for question in quiz.questions.all %}
      <li>
        <strong>{{ question.question_text }}</strong><br>
        1. {{ question.answer1 }}<br>
        2. {{ question.answer2 }}<br>
        3. {{ question.answer3 }}<br>
        4. {{ question.answer4 }}<br>
        <em>Poprawna odpowiedź: {{ question.correct_answer }}</em>
      </li>
    {% endfor %}
  </ul>

  {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
{% endblock %}
