{% extends "base.html" %}

{% block title %}Questions for {{ quiz.title }}{% endblock %}

{% block content %}
  <h2>Quiz: {{ quiz.title }}</h2>
  <i>{{ quiz.description }}</i>
  <form action="{% url 'results' %}" method="post">
    {% for question in quiz.questions.all %}
        <strong>Pytanie: {{ question.question_text }}</strong>
        <label for="answer1">{{ question.answer1 }}</label>
        <input type="radio" id="answer1-{{ question.id }}" name="question{{ question.id }}" value="test">
        <label for="answer2">{{ question.answer2 }}</label>
        <input type="radio" id="answer2-{{ question.id }}" name="question{{ question.id }}" value="test">
        <label for="answer3">{{ question.answer3 }}</label>
        <input type="radio" id="answer3-{{ question.id }}" name="question{{ question.id }}" value="test">
        <label for="answer4">{{ question.answer4 }}</label>
        <input type="radio" id="answer4-{{ question.id }}" name="question{{ question.id }}" value="test">
    {% endfor %}
    <input type="submit" value="Prześlij odpowiedzi">
    </form>

  {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
{% endblock %}
