{% extends "quiz_base.html" %}
{% load static %}
{% block content %}
<section id="quizy">
    <h2>Opcje Quizu</h2>
    <p>Nasze quizy zostały zaprojektowane tak, aby zapewnić najlepsze doświadczenia edukacyjne. Korzystając z różnych formatów pytań i natychmiastowej informacji zwrotnej, nasze quizy pomagają skutecznie przyswajać wiedzę. Niezależnie od tego, czy kontynuujesz quiz, czy rozpoczynasz nowy, nasze podejście jest angażujące i edukacyjne.</p>
    <div class="quiz-options">
        <div class="quiz-option">
            <a href="{% url 'quizwizard' %}">
                <button>Stwórz Nowy Quiz</button>
            </a>
        </div>
        <div class="quiz-option">
            <a href="{% url 'testlist' %}">
                <button onclick="startNewQuiz()">Rozpocznij Nowy Quiz</button>
            </a>
        </div>
    </div>
    <div class="moje-quizy">
        <h3>Moje quizy</h3>
        {% if quizzes%}
            {% for quiz in quizzes %}
                {% if quiz.created_by == request.user%}
                <a href="/quiz/quizzes/{{ quiz.id }}"><div class="quiz-option" style="width: 32%;">
                    <h3><b>{{ quiz.title }}</b></h3>
                    <p>{{ quiz.description }}</p>
                </div></a>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Nie ma dostępnych żadnych quizów.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
