{% extends "home_base.html" %}

{% block title %}- Wszystkie Quizy{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-center mb-4">Wszystkie Dostępne Quizy</h3>
    {% if quizzes %}
        <div class="row">
            {% for quiz in quizzes %}
                <div class="col-md-4 mb-4">
                    <a href="/attend/guest/{{ quiz.id }}" class="text-decoration-none">
                        <div class="quiz-option card shadow-sm h-100">
                            <div class="card-body text-center">
                                <h4 class="card-title"><b>{{ quiz.title }}</b></h4>
                                <p class="card-text">{{ quiz.description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Nie ma dostępnych żadnych quizów.
        </div>
    {% endif %}
</div>
{% endblock %}
